extends layout

block nav
  nav#nav.navbar
    p Meus álbuns
    p Procurar álbum
    p Adicionar álbum

block header
  header#header.jumbotron.text-center
    h1= title
    p #{user.name}, welcome to #{title}
    p Your e-mail is #{user.email}...

block content
  section#busca.container(style='margin-bottom:2rem')
    form#searchForm(method='GET' action='/search')
      div.form-row
        div.col-2
          label.sr-only(for='tipo') Categoria
          select#searchOption.form-control(name='tipo')
            option(value='album' selected='selected') Álbum
            option(value='track') Música
            option(value='artist') Artista
        div.col
          label.sr-only(for='nome') Digite sua busca
          input#searchData.form-control(type='text', placeholder='Buscar...' name='nome')
        div.col-2
          button.btn.btn-primary.btn-block(type='submit') Buscar

block scripts
  include spotify