extends layout

block content
  h1= title
  p #{user.name}, welcome to #{title}
  p Your e-mail is #{user.email}...

  p Meus álbuns
  p Procurar álbum
  p Adicionar álbum

block scripts
  include spotify