doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')

  body
    block nav
      nav#nav.navbar
        p This is a nav
    block header
      header#header.jumbotron.text-center
        p This is a header
    block content
      section#content
        p Some content
    block foot
      footer#footer
        div.container
          p Some Footer
    block scripts
      script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')