doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      header#header
        p This is a header
    block content
      section#content
        p Some content
    block foot
      footer#footer
        p Some Footer
    block scripts