extends layout

block content
  section#section
    div.container
      h4.display-4 Welcome to #{title}
      p.lead Please sign in with Spotify 
        i.fab.fa-spotify .
      button.btn.btn-primary(onclick = "location.href='" + spotifyAuthURL + "'") Login